%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= @title + " - Watchtower"
    %link{:rel => 'stylesheet', :href => "http://yui.yahooapis.com/#{$yui_version}/build/reset-fonts-grids/reset-fonts-grids.css", :type => 'text/css', :media => 'screen'}
    %link{:rel => 'stylesheet', :href => '/screen.css', :type => 'text/css', :media => 'screen'}

  %body{ :id => @title.gsub(/\s/, '') + "Page" }
    #Content
      #Title
        %h2 Watchtower
        %p.tagline ticgit - issue tracking though git
      #Navigation
        %ul.global
          %li#AllTicketsLink
            %a{:href => '/'} All
          %li#OpenTicketsLink
            %a{:href => '/tickets/state/open'} Open
          %li#ResolvedTicketsLink
            %a{:href => '/tickets/state/resolved'} Resolved
          %li#HoldTicketsLink
            %a{:href => '/tickets/state/hold'} Hold
          %li#InvalidTicketsLink
            %a{:href => '/tickets/state/invalid'} Invalid
          %li#NewTicketLink
            %a{:href => '/tickets/new'} New Ticket
        #SavedViews
          %h4 Saved Views:
          - unless @saved.empty?
            %ul
            - @saved.each do |s|
              %li
                %a{:href => "/tickets/saved_view/\#{s}"}= s
          - else
            %p You have no saved views
      #Main= yield
